:root {
  --main-cl: #101828;
  --text-cl: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --but-hover: #d84343;
  --rating: #ffc531;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

header {
  height: 72px;
  background-color: var(--inputs);
  max-width: 1440px;
}

img {
  display: block;
  max-width: 100%;
}
