.hero {
  height: 696px;
  background-image: url(../../components/img/hero/hero.jpg);
}

.title {
  color: var(--inputs);
  text-align: left;
  margin-left: 64px;
  padding-top: 260px;
}
.title_main_text {
  font-size: 48px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 16px;
}
.title_text {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.title_button {
  margin-top: 40px;
  padding: 16px 60px 16px 60px;
  gap: 10px;
  border-radius: 200px;
  color: var(--white);
  background-color: var(--button);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
  transition: var(--transition);
}

.title_button:hover {
  background-color: var(--button-hover);
}
